<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 pb-5 text-center">
        <h1 class="mb-3 bread">Our Legal Advisors</h1>
        <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="'/'">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Attorneys <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section">
        <span class="subheading">Our Attorney</span>
        <h2 class="mb-4">Our Legal Attorneys</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(/../../../assets/images/person_1.jpg);">
              <div class="box">
                <h2>Richard Anderson</h2>
                <p>Civil Lawyer</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                  <img src="../../../assets/images/person_1.jpg" alt="">
                </div>
                <div class="name align-self-center">Richard Anderson <span class="position">Civil Lawyer</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(/../../../assets/images/person_2.jpg);">
              <div class="box">
                <h2>Jefford Maxillin</h2>
                <p>Business Lawyer</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                  <img src="../../../assets/images/person_2.jpg" alt="">
                </div>
                <div class="name align-self-center">Jefford Maxillin<span class="position">Business Lawyer</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(/../../../assets/images/person_3.jpg);">
              <div class="box">
                <h2>Carlos Obing</h2>
                <p>Criminal Defense</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                  <img src="../../../assets/images/person_3.jpg" alt="">
                </div>
                <div class="name align-self-center">Carlos Obing <span class="position">Criminal Defense</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(/../../../assets/images/person_4.jpg);">
              <div class="box">
                <h2>Nathan Smith</h2>
                <p>Insurance Lawyer</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                  <img src="../../../assets/images/person_4.jpg" alt="">
                </div>
                <div class="name align-self-center">Nathan Smith <span class="position">Insurance Lawyer</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(/../../../assets/images/person_5.jpg);">
              <div class="box">
                <h2>Richard Anderson</h2>
                <p>Civil Lawyer</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                  <img src="../../../assets/images/person_5.jpg" alt="">
                </div>
                <div class="name align-self-center">Richard Anderson <span class="position">Civil Lawyer</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(/../../../assets/images/person_6.jpg);">
              <div class="box">
                <h2>Jefford Maxillin</h2>
                <p>Business Lawyer</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                  <img src="../../../assets/images/person_6.jpg" alt="">
                </div>
                <div class="name align-self-center">Jefford Maxillin<span class="position">Business Lawyer</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(/../../../assets/images/person_7.jpg);">
              <div class="box">
                <h2>Carlos Obing</h2>
                <p>Criminal Defense</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                  <img src="../../../assets/images/person_7.jpg" alt="">
                </div>
                <div class="name align-self-center">Carlos Obing <span class="position">Criminal Defense</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(/../../../assets/images/person_8.jpg);">
              <div class="box">
                <h2>Nathan Smith</h2>
                <p>Insurance Lawyer</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                  <img src="../../../assets/images/person_8.jpg" alt="">
                </div>
                <div class="name align-self-center">Nathan Smith <span class="position">Insurance Lawyer</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="javascript:void(0)">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
