<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 pb-5 text-center">
        <h1 class="mb-3 bread">Practice Areas</h1>
        <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="'/'">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Practice Areas <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-family"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Family Law</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-auction"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Business Law</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-shield"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Insurance Law</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-handcuffs"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Criminal Law</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-house"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Property Law</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-employee"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Employment Law</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-fire"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Fire Accident</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-money"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Financial Law</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-medicine"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Drug Offenses</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-handcuffs"></span>
          </div>
          <h3 class="mb-3"><a [routerLink]="'single'">Sexual Offenses</a></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="javascript:void(0)">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-consultation">
  <div class="container-fluid">
    <div class="row d-md-flex">
      <div class="half order-md-last mt-md-0 d-flex justify-content-center align-items-center img" style="background-image: url(../../../assets/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="desc text-center">
          <div class="icon"><span class="flaticon-auction"></span></div>
          <h1><a [routerLink]="'/'">Whisper <br><span>Law Firm Website</span></a></h1>
        </div>
      </div>
      <div class="half p-3 p-md-5">
        <h3 class="mb-4 font-weight-bold">Free Consultation</h3>
        <form action="#">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send message" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
