<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 pb-5 text-center">
        <h1 class="mb-3 bread">Our Blog</h1>
        <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="'/'">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center">
        <span class="subheading">Our Blog</span>
        <h2>Recent Blog</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 d-flex">
        <div class="blog-entry justify-content-end">
          <a [routerLink]="'single'" class="block-20" style="background-image: url('../../../assets/images/image_1.jpg');">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">15</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">January</span>
              </div>
            </div>
            <h3 class="heading mt-2"><a href="javascript:void(0)">All you want to know about industrial laws</a></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="blog-entry justify-content-end">
          <a [routerLink]="'single'" class="block-20" style="background-image: url('../../../assets/images/image_2.jpg');">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">12</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">January</span>
              </div>
            </div>
            <h3 class="heading mt-2"><a href="javascript:void(0)">All you want to know about industrial laws</a></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="blog-entry">
          <a [routerLink]="'single'" class="block-20" style="background-image: url('../../../assets/images/image_3.jpg');">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">10</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">January</span>
              </div>
            </div>
            <h3 class="heading mt-2"><a href="javascript:void(0)">All you want to know about industrial laws</a></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="blog-entry justify-content-end">
          <a [routerLink]="'single'" class="block-20" style="background-image: url('../../../assets/images/image_4.jpg');">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">15</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">January</span>
              </div>
            </div>
            <h3 class="heading mt-2"><a href="javascript:void(0)">All you want to know about industrial laws</a></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="blog-entry justify-content-end">
          <a [routerLink]="'single'" class="block-20" style="background-image: url('../../../assets/images/image_5.jpg');">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">12</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">January</span>
              </div>
            </div>
            <h3 class="heading mt-2"><a href="javascript:void(0)">All you want to know about industrial laws</a></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="blog-entry">
          <a [routerLink]="'single'" class="block-20" style="background-image: url('../../../assets/images/image_6.jpg');">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">10</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">January</span>
              </div>
            </div>
            <h3 class="heading mt-2"><a href="javascript:void(0)">All you want to know about industrial laws</a></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="javascript:void(0)">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
